{% extends 'blog/base.html' %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <form action="/add-comment-url/" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="row-6">
                            <label>Name:</label>
                            <input type="text" name="first_name">
                        </div>
                        <div class="row-6">
                            <label>Last name:</label>
                            <input type="text" name="last_name">
                        </div>
                        <div class="row-6">
                            <label>Password:</label>
                            <input type="password" name="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Knopka">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
