<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Мой мини-блог!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Мой мини-блог!</a></h1>
             <div class="login">
                 <h4><a href="/login/">Login</a></h4>
                 <h4><a href="/registration/">Registration</a></h4>
                 <h4><a href="/main/">Comments</a></h4>
             </div>

        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
                <div class="col-md-4">
                {% block contentix %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="page-footer">
            <p>Copyright © 2020</p>
        </div>
    </body>
</html>