<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Мой мини блог!</title>
</head>
<body>
<div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Мой мини-блог!</a></h1>
             <div class="login">
                 <nav class="my-2 my-md-0 mr-md-3">
                     <h4>
                     <a class="p-2" href="/login/">Login</a>
                     <a class="p-2" href="/registration/">Registration</a>
                     <a class="p-2" href="/main/">Comments</a>
                     <a class="p-2" href="/weather/">Weather</a>
                     </h4>
                 </nav>
             </div>
</div>
<div class="container">
     <div class="row">
         <div class="col-4 offset-1">
              <h1>Погода в вашем городе</h1>
              <form action="" method="post">
                  {% csrf_token %}
                  <label for="city">Город</label>
                  {{ form.name }}

                  <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
              </form>
         </div>
         <div class="col-4 offset-1">
              <h1>Информация</h1>
             {% for info in all_info %}
             <div class="alert alert-danger">
                 <b>Город:</b> {{ info.city }} <br>
                 <b>Температура:</b> {{ info.temp }} <sup>о</sup> <br>
                 <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды" class="img-thumbnail">
             </div>
             {% endfor %}
         </div>

     </div>
</div>


</body>
</html>